In [7]:
import regex as re

# Question 1

In [8]:
message ="Python Exercises, PHP exercises."

x = re.sub('[ .,]', ":", message)

print(x)

Python:Exercises::PHP:exercises:

# Question 2

In [3]:
import pandas as pd

In [25]:
d = {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

df = pd.DataFrame(d)

df['SUMMARY'] = df['SUMMARY'].apply(lambda x: re.sub('[0-9,.!:;X]','',x))
    
df

         SUMMARY
0    hello world
1           test
2  four five six

# Question 3

In [130]:
def findFour(message):
    pattern = re.compile(r'\b\w{4}\b')
    x = pattern.findall(message)
    return x

m = "adc acbe befd sekd ekc fkee ltv"
print(findFour(m))

['acbe', 'befd', 'sekd', 'fkee']

# Question 4

In [347]:
def word(message):
    pattern = re.compile(r'\b\w{3,5}\b')
    x = pattern.findall(message)
    return x

m = "adc acbe befd sekds ekc fkee ltvtes"
print(word(m))

['adc', 'acbe', 'befd', 'sekds', 'ekc', 'fkee']

# Question 5

In [138]:
def rempar(st):
    pattern = re.compile(r'[()]')
    for i in range(len(st)):
        x = pattern.sub('',st[i])
        st[i] = x
    return st
        
    
SampleText = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
print(rempar(SampleText))

['example .com', 'hr@fliprobo .com', 'github .com', 'Hello Data Science World', 'Data Scientist']

# Question 6

In [348]:
f = open("Sample Text.txt")

In [349]:
l = f.read()

In [350]:
print(l)
l = l.split(",")

"example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"

In [352]:
for i in l:
    x = re.sub(r' ?\([^)]+\)','',i)
    print(x)

"example"
 "hr@fliprobo"
 "github"
 "Hello"
 "Data"

In [353]:
f.close()

# Question 7

In [118]:
message = "ImportanceOfRegularExpressionsInPython"

x = re.findall('[A-Z][^A-Z]*',message)

print(x)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

# Question 8

In [139]:
def seperate(s):
    x = re.sub(r'(\d+)([A-Za-z]+)',r' \1\2',s)
    return x

message = "RegularExpression1IsAn2ImportantTopic3InPython"
print(seperate(message))

RegularExpression 1IsAn 2ImportantTopic 3InPython

# Question 9

In [140]:
def seperate2(s):
    x = re.sub(r'(\d+)([A-Za-z]+)',r' \1 \2',s)
    return x

message = "RegularExpression1IsAn2ImportantTopic3InPython"
print(seperate2(message))

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

# Question 10

In [157]:
df = pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")

In [159]:
df['Country']

0      Switzerland
1          Iceland
2          Denmark
3           Norway
4           Canada
          ...
153         Rwanda
154          Benin
155          Syria
156        Burundi
157           Togo
Name: Country, Length: 158, dtype: object

In [160]:
df['first_five_letters'] = df['Country'].apply(lambda x: x[:6])

In [161]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

# Question 11

In [167]:
message = "RegularExpression1IsAn2ImportantTopic3InPython"
pattern = re.compile(r'^[a-zA-Z0-9_]+$')
x = pattern.match(message)
if x:
    print("Its a match")
else:
    print("the string dosen't match")

Its a match

# Question 12

In [169]:
message = "2RegularExpression1IsAn2ImportantTopic3InPython"
pattern = re.compile(r'^2')
x = pattern.match(message)
if x:
    print("Its a match")
else:
    print("the string dosen't match")

Its a match

# Question 13

In [172]:
ip = "174.052.001.074"
x = re.sub('\.[0]*','.',ip)
print(x)

174.52.1.74

# Question 14

In [354]:
f = open("Question 14.txt")
s = f.read()

In [356]:
p = r'\b([A-Za-z]+) \d{1,2}(?:st|nd|rd|th)? \d{4}\b'
x = re.search(p,s)

print(x.group())

August 15th 1947

In [357]:
f.close()

# Question 15

In [226]:
Sampletext = 'The quick brown fox jumps over the lazy dog.'

pattern = ['fox', 'dog', 'horse']

for i in pattern:
    x = re.search(i, Sampletext)
    print(x)

<regex.Match object; span=(16, 19), match='fox'>
<regex.Match object; span=(40, 43), match='dog'>
None

# Question 16

In [231]:
Sampletext = 'The quick brown fox jumps over the lazy dog.'

pattern = 'fox'

x = re.search(pattern,Sampletext)
s=x.start()
e=x.end()

if x:
    print("%s found at location: %d - %d" %(pattern,s,e)) 
else:
    print("not found")

fox found at location: 16 - 19

# Question 17

In [232]:
Sampletext = 'Python exercises, PHP exercises, C# exercises'
Pattern = 'exercises'

x = re.findall(Pattern,Sampletext)

print(x)

['exercises', 'exercises', 'exercises']

# Question 18

In [235]:
Sampletext = 'Python exercises, PHP exercises, C# exercises'
Pattern = 'exercises'

x = re.search(Pattern,Sampletext)
s = x.start()
e = x.end()

if x:
    print("%s found at location: %d - %d" %(Pattern,s,e)) 
else:
    print("not found")

exercises found at location: 7 - 16

# Question 19

In [255]:
Date = "2024-04-06"

x = re.sub('(\d{4})-(\d{1,2})-(\d{1,2})','\\3-\\2-\\1',Date)

print(x)

06-04-2024

# Question 20

In [307]:
def decimal_num(s):
    p = re.compile(r'\d+\.\d{1,2}')
    x = p.findall(s)
    return x

st = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
print(decimal_num(st))

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

# Question 21

In [310]:
Sampletext = "There are 72 apples in the basket"

x = re.search(r'\d+',Sampletext)

print("%s found at %d location" %(x.group(),x.start()))

72 found at 10 location

# Question 22

In [316]:
st = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

x = re.findall(r'\d+',st)
    
print(max(x))

950

# Question 23

In [326]:
def insert_space(s):
    p = r"(\w)([A-Z])"
    x = re.sub(p,r'\1 \2',s)
    return x

st = "RegularExpressionIsAnImportantTopicInPython"
print(insert_space(st))

Regular Expression Is An Important Topic In Python

# Question 24

In [330]:
st = "RegularExpressionIsAnImportantTopicInPython"

x = re.findall("[A-Z]+[a-z]+",st)

print(x)

['Regular', 'Expression', 'Is', 'An', 'Important', 'Topic', 'In', 'Python']

# Question 25

In [333]:
def del_dup(s):
    x = re.sub(r'\b(\w+)(\s+\1\b)+',r'\1', s)
    return x  

st = "Hello hello world world"
print(del_dup(st))

Hello hello world

# Question 26

In [336]:
st = "Affan123"

if(re.search("[A-Za-z0-9]$",st)):
    print("Accepted")
else:
    print("Not Accepted")

Accepted

# Question 27

In [337]:
st = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

x = re.findall(r'#\w+',st)

print(x)

['#Doltiwal', '#xyzabc', '#Demonetization']

# Question 28

In [339]:
st = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

pattern = r'<U\+\w{4}>'

x = re.sub(pattern,"",st)

print(x)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

# Question 29

In [340]:
f = open("Question 29.txt")
s = f.read()

In [342]:
print(s)
pattern = r'\d{1,2}-\d{1,2}-\d{4}'
x = re.findall(pattern,s)
print(x)

Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.

['12-09-1992', '15-12-1999']

In [343]:
f.close()

# Question 30

In [346]:
def extract2to4(s):
    p = re.compile(r'\b\w{2,4}\b')
    x = p.sub('',s)
    return x


st = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

print(extract2to4(st))

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.