In [203]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import pandas as pd
import re
import time

Question 1

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver = webdriver.Chrome()
driver.get(url)

In [46]:
rank = []
name = []
artist = []
upload = []
view = []

In [47]:
r=1
names = driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
for i in names:
    name.append(i.text)
    rank.append(r)
    r=r+1
    
artists = driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
for i in artists:
    artist.append(i.text)
    
uploads = driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
for i in uploads:
    upload.append(i.text)
    
views = driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
for i in views:
    view.append(i.text)

In [31]:
df = pd.DataFrame({"Rank":rank,"Name":name,"Uploader":artist,"Upload Date":upload,"View":view})
df

,Rank,Name,Uploader,Upload Date,View
0,1,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,14.52,"June 17, 2016"
1,2,"""Despacito""[10]",Luis Fonsi,8.44,"January 12, 2017"
2,3,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.91,"October 8, 2016"
3,4,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,6.70,"May 2, 2018"
4,5,"""See You Again""[20]",Wiz Khalifa,6.27,"April 6, 2015"
5,6,"""Shape of You""[25]",Ed Sheeran,6.26,"January 30, 2017"
6,7,"""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,6.13,"May 24, 2018"
7,8,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,5.80,"March 6, 2014"
8,9,"""Uptown Funk""[30]",Mark Ronson,5.23,"November 19, 2014"
9,10,"""Gangnam Style""[31]",Psy,5.15,"July 15, 2012"
10,11,"""Learning Colors ‚Äì Colorful Eggs on a Farm""[36]",Miroshka TV,5.11,"February 27, 2018"
11,12,"""Dame Tu Cosita""[37]",Ultra Records,4.63,"April 5, 2018"
12,13,"""Masha and the Bear ‚Äì Recipe for Disaster""[38]",Get Movies,4.58,"January 31, 2012"
13,14,"""Axel F""[39]",Crazy Frog,4.54,"June 16, 2009"
14,15,"""Baa Baa Black Sheep""[40]",Cocomelon - Nursery Rhymes,4.05,"June 25, 2018"
15,16,"""Sugar""[41]",Maroon 5,4.05,"January 14, 2015"
16,17,"""Lakdi Ki Kathi""[42]",Jingle Toons,4.04,"June 14, 2018"
17,18,"""Counting Stars""[43]",OneRepublic,4.02,"May 31, 2013"
18,19,"""Roar""[44]",Katy Perry,4.00,"September 5, 2013"
19,20,"""Waka Waka (This Time for Africa)""[45]",Shakira,3.93,"June 4, 2010"
20,21,"""Shree Hanuman Chalisa""[46]",T-Series Bhakti Sagar,3.84,"May 10, 2011"
21,22,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.81,"January 26, 2018"
22,23,"""Sorry""[48]",Justin Bieber,3.80,"October 22, 2015"
23,24,"""Thinking Out Loud""[49]",Ed Sheeran,3.77,"October 7, 2014"
24,25,"""Perfect""[50]",Ed Sheeran,3.74,"November 9, 2017"
25,26,"""Dark Horse""[51]",Katy Perry,3.72,"February 20, 2014"
26,27,"""Let Her Go""[52]",Passenger,3.66,"July 25, 2012"
27,28,"""Faded""[53]",Alan Walker,3.63,"December 3, 2015"
28,29,"""Girls Like You""[54]",Maroon 5,3.61,"May 31, 2018"
29,30,"""Lean On""[55]",Major Lazer Official,3.60,"March 22, 2015"

Question 2

In [32]:
url = "https://www.bcci.tv/"
driver = webdriver.Chrome()
driver.get(url)

In [33]:
fixture = driver.find_element(By.XPATH, '//a[@class="moreMatchesLink"]')
fixture.click()

In [53]:
time =[]
venue = []
date = []
series = []

In [54]:
dates = driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in dates:
    date.append(i.text)
    
times = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in times:
    time.append(i.text)
    
venues = driver.find_elements(By.XPATH,'//div[@class="match-venue ng-scope"]')
for i in venues:
    venue.append(i.text)
    
serie = driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in serie:
    series.append(i.text)

In [56]:
df = pd.DataFrame({"Series":series,"Place":venue,"Date":date,"Time":time})
df

,Series,Place,Date,Time
0,South Africa Women Tour Of India Warm Up Match...,"M Chinnaswamy Stadium, Bengaluru",13 Jun,13:30 IST
1,ICC Mens T20 World Cup 2024,"Central Broward Park & Broward County Stadium,...",15 Jun,20:00 IST
2,South Africa Women Tour Of India ODI Series 2024,"M Chinnaswamy Stadium, Bengaluru",16 Jun,13:30 IST
3,South Africa Women Tour Of India ODI Series 2024,"M Chinnaswamy Stadium, Bengaluru",19 Jun,13:30 IST
4,South Africa Women Tour Of India ODI Series 2024,"M Chinnaswamy Stadium, Bengaluru",23 Jun,13:30 IST
5,South Africa Women Tour Of India Test Series 2024,"MA Chidambaram Stadium, Chennai",28 Jun,9:30 IST
6,South Africa Women Tour Of India T20 Series 2024,"MA Chidambaram Stadium, Chennai",5 Jul,19:00
7,India Tour Of Zimbabwe T20I Series 2024,"Harare Sports Club, Harare",6 Jul,20:00 IST
8,South Africa Women Tour Of India T20 Series 2024,"MA Chidambaram Stadium, Chennai",7 Jul,19:00
9,India Tour Of Zimbabwe T20I Series 2024,"Harare Sports Club, Harare",7 Jul,20:00 IST
10,South Africa Women Tour Of India T20 Series 2024,"MA Chidambaram Stadium, Chennai",9 Jul,19:00
11,India Tour Of Zimbabwe T20I Series 2024,"Harare Sports Club, Harare",10 Jul,20:00 IST
12,India Tour Of Zimbabwe T20I Series 2024,"Harare Sports Club, Harare",13 Jul,20:00 IST
13,India Tour Of Zimbabwe T20I Series 2024,"Harare Sports Club, Harare",14 Jul,20:00 IST
14,ICC Womens T20 World Cup 2024,"Sylhet International Cricket Stadium, Sylhet",4 Oct,18:30
15,ICC Womens T20 World Cup 2024,"Sylhet International Cricket Stadium, Sylhet",6 Oct,18:30
16,ICC Womens T20 World Cup 2024,"Sylhet International Cricket Stadium, Sylhet",9 Oct,18:30
17,ICC Womens T20 World Cup 2024,"Sylhet International Cricket Stadium, Sylhet",13 Oct,18:30

Question 3

In [63]:
url = "https://statisticstimes.com/#google_vignette"
driver = webdriver.Chrome()
driver.get(url)

In [64]:
nav = driver.find_element(By.XPATH, '//div[@class="navbar"]/div[2]/div/a[3]')
driver.get(nav.get_attribute('href'))

In [66]:
states =driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
driver.get(states.get_attribute('href'))

In [68]:
state = []
gsdp1 = []
gsdp2 = []
share = []
gdp = []

In [69]:
loc = driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]')
for i in loc:
    state.append(i.text)
    
data1 = driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[3]')
for i in data1:
    gsdp1.append(i.text)
    
data2 = driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]')
for i in data2:
    gsdp2.append(i.text)
    
shares = driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[6]')
for i in shares:
    share.append(i.text)
    
data3 = driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[7]')
for i in data3:
    gdp.append(i.text)

In [75]:
n = len(state)
for i in range(32,n-1):
    state.pop(i)
    gsdp1.pop(i)
    gsdp2.pop(i)
    share.pop(i)
    gdp.pop(i)

In [78]:
df = pd.DataFrame({"State":state,"GSDP(23-24)":gsdp1,"GSDP(22-23)":gsdp2,"Shares":share,"GDP":gdp})
df

                State GSDP(23-24) GSDP(22-23)  Shares      GDP
0         Maharashtra           -           -  13.17%  414.928
1          Tamil Nadu   2,700,109   2,364,514   8.78%  276.522
2           Karnataka   2,500,733   2,269,995   8.38%  264.080
3       Uttar Pradesh   2,547,861   2,258,040   8.37%  263.747
4             Gujarat           -   2,230,609   8.17%  257.484
5         West Bengal   1,700,939   1,531,758   5.63%  177.456
6           Rajasthan   1,524,030   1,365,849   5.06%  159.334
7      Andhra Pradesh   1,439,674   1,303,524   4.87%  153.324
8           Telangana   1,463,960   1,308,034   4.76%  150.084
9      Madhya Pradesh   1,363,327   1,246,471   4.63%  145.913
10             Kerala           -   1,046,188   3.96%  124.764
11              Delhi   1,107,746   1,014,688   3.73%  117.660
12            Haryana   1,095,535     984,055   3.68%  116.001
13             Odisha     832,790     753,177   2.81%   88.497
14              Bihar           -     751,396   2.76%   86.817
15             Punjab     736,423     676,164   2.62%   82.397
16              Assam     565,401     493,167   1.74%   54.930
17       Chhattisgarh     505,887     464,399   1.74%   54.806
18          Jharkhand           -     393,722   1.52%   47.909
19        Uttarakhand     346,206     303,781   1.13%   35.664
20    Jammu & Kashmir     246,465     224,226   0.82%   25.813
21   Himachal Pradesh     207,430     191,728   0.73%   22.984
22                Goa           -      93,672   0.36%   11.250
23            Tripura           -      72,636   0.27%    8.351
24         Chandigarh           -      54,285   0.20%    6.154
25         Puducherry           -      49,643   0.19%    5.849
26          Meghalaya      47,381      42,697   0.16%    5.178
27             Sikkim           -      42,756   0.16%    5.014
28            Manipur           -           -   0.16%    4.885
29  Arunachal Pradesh           -      39,630   0.15%    4.643
30           Nagaland           -      35,643   0.13%    4.144
31            Mizoram           -           -   0.12%    3.715
32           Nagaland           -      30,957   0.13%        -

Question 4

In [79]:
url = "https://github.com/"
driver = webdriver.Chrome()
driver.get(url)

In [87]:
search = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
driver.get(search.get_attribute('href'))

In [97]:
urls = []
links = driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
for i in links:
    urls.append(i.get_attribute('href'))

In [123]:
title = []
desc = []
count = []
lang = []

In [124]:
for url in urls:
    driver.get(url)
    time.sleep(2)
    
    try:
        x = driver.find_element(By.XPATH, '//strong[@class="mr-2 flex-self-stretch"]')
        title.append(x.text)
    
    except NoSuchElementException:
        title.append('-')

    try:
        x = driver.find_element(By.XPATH, '//p[@class="f4 my-3"]')
        desc.append(x.text)
    
    except NoSuchElementException:
        desc.append('-')
        
    try:
        x = driver.find_element(By.XPATH, '//div[@class="BorderGrid about-margin"]/div[5]/div/h2/a/span')
        count.append(x.text)
    
    except NoSuchElementException:
        count.append('-')
        
    try:
        x = driver.find_element(By.XPATH, '//div[@class="BorderGrid about-margin"]/div[6]/div/ul/li/a/span')
        lang.append(x.text)
    
    except NoSuchElementException:
        lang.append('-')

In [125]:
df = pd.DataFrame({"Title":title,"Description":desc,"Contributers":count,"Language":lang})
df

,Title,Description,Contributers,Language
0,lerobot,ü§ó LeRobot: End-to-end Learning for Real-World ...,20,Python
1,public-image-mirror,ÂæàÂ§öÈïúÂÉèÈÉΩÂú®ÂõΩÂ§ñ„ÄÇÊØîÂ¶Ç gcr „ÄÇÂõΩÂÜÖ‰∏ãËΩΩÂæàÊÖ¢ÔºåÈúÄË¶ÅÂä†ÈÄü„ÄÇ,48,Shell
2,mi-gpt,üè† Â∞ÜÂ∞èÁà±Èü≥ÁÆ±Êé•ÂÖ• ChatGPT ÂíåË±ÜÂåÖÔºåÊîπÈÄ†Êàê‰Ω†ÁöÑ‰∏ìÂ±ûËØ≠Èü≥Âä©Êâã„ÄÇ,-,-
3,Free-Certifications,A curated list of free courses & certifications.,-,-
4,swift-testing,"A modern, expressive testing package for Swift",-,-
5,axlearn,An Extensible Deep Learning Library,-,-
6,build-your-own-x,Master programming by recreating your favorite...,117,-
7,coolify,An open-source & self-hostable Heroku / Netlif...,-,-
8,nanoGPT,"The simplest, fastest repository for training/...",36,Python
9,transformers.js,State-of-the-art Machine Learning for the web....,3.8k,-
10,litestar,"Production-ready, Light, Flexible and Extensib...",201,Python
11,TTS,üê∏üí¨ - a deep learning toolkit for Text-to-Speec...,149,Python
12,manim,Animation engine for explanatory math videos,148,Python
13,hyperswitch,An open source payments switch written in Rust...,-,-
14,OpenCore-Legacy-Patcher,Experience macOS just like before,32,Python
15,Avalonia,"Develop Desktop, Embedded, Mobile and WebAssem...",410,C#

Question 5

In [126]:
url = "https://www.billboard.com/"
driver = webdriver.Chrome()
driver.get(url)

In [137]:
charts = driver.find_element(By.XPATH, '/html/body/div[3]/header/div/div[1]/div/div/div[2]/div/nav/ul/li[1]/a')
driver.get(charts.get_attribute('href'))
t100 = driver.find_element(By.XPATH, '//span[@class="c-label  "]/a')
driver.get(t100.get_attribute('href'))

In [170]:
song =[]
artist = []
last = []
peak = []
weeks = []

In [171]:
songs = driver.find_elements(By.XPATH, '//li[@class="lrv-u-width-100p"]/ul/li[1]')
for i in songs:
    x = re.split("\n",i.text)
    song.append(x[0])
    artist.append(x[1])
    
last_week = driver.find_elements(By.XPATH, '//li[@class="lrv-u-width-100p"]/ul/li[4]')
for i in last_week:
    last.append(i.text)
    
peek_rank = driver.find_elements(By.XPATH, '//li[@class="lrv-u-width-100p"]/ul/li[5]')
for i in peek_rank:
    peak.append(i.text)
    
charts = driver.find_elements(By.XPATH, '//li[@class="lrv-u-width-100p"]/ul/li[6]')
for i in charts:
    weeks.append(i.text)

In [172]:
df = pd.DataFrame({"Song":song,"Artist":artist,"Last Week":last,"Peak Pos.":peak,"Weeks on Chart":weeks})
df

,Song,Artist,Last Week,Peak Pos.,Weeks on Chart
0,I Had Some Help,Post Malone Featuring Morgan Wallen,1,1,4
1,Houdini,Eminem,-,2,1
2,Million Dollar Baby,Tommy Richman,3,2,6
3,A Bar Song (Tipsy),Shaboozey,4,3,8
4,Not Like Us,Kendrick Lamar,2,1,5
...,...,...,...,...,...
95,Wine Into Whiskey,Tucker Wetmore,90,77,11
96,Heat Stick,Shoreline Mafia Presents OhGeesy & Fenix Flexin,97,97,3
97,Let Your Boys Be Country,Jason Aldean,-,98,1
98,Tu Name,Fuerza Regida,100,66,14
99,loml,Taylor Swift,92,12,7

Question 6

In [173]:
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver = webdriver.Chrome()
driver.get(url)

In [181]:
book = []
auth = []
vol = []
pub = []
genre = []

In [182]:
books = driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in books:
    book.append(i.text)
author = driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in author:
    auth.append(i.text)
volume = driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in volume:
    vol.append(i.text)
publcation = driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in publcation:
    pub.append(i.text)
genres = driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in genres:
    genre.append(i.text)

In [183]:
df = pd.DataFrame({"Book":book,"Author":auth,"Volume":vol,"Publcation":pub,"Genre":genre})
df

,Book,Author,Volume,Publcation,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Question 7

In [184]:
url = "https://www.imdb.com/chart/tvmeter/?ref_=nv_tvv_mptv" #the link you provided was not working so i had to navigate myself
driver = webdriver.Chrome()
driver.get(url)

In [185]:
urls = []
link = driver.find_elements(By.XPATH, '//a[@class="ipc-title-link-wrapper"]')
for i in link:
    urls.append(i.get_attribute('href'))

In [204]:
name = []
year = []
genre = []
rtime = []
rating = []
votes = []

In [205]:
for url in urls:
    driver.get(url)
    time.sleep(2)
    
    try:
        x = driver.find_element(By.XPATH, '//h1[@class="sc-d8941411-0 dxeMrU"]/span')
        name.append(x.text)
    except NoSuchElementException:
        name.append('-')
        
    try:
        x = driver.find_element(By.XPATH, '//ul[@class="ipc-inline-list ipc-inline-list--show-dividers sc-d8941411-2 cdJsTz baseAlt"]/li[2]/a')
        year.append(x.text)
    except NoSuchElementException:
        year.append('-')
        
    try:
        x = driver.find_element(By.XPATH, '//a[@class="ipc-chip ipc-chip--on-baseAlt"]')
        genre.append(x.text)
    except NoSuchElementException:
        genre.append('-')
        
    try:
        x = driver.find_element(By.XPATH, '//ul[@class="ipc-inline-list ipc-inline-list--show-dividers sc-d8941411-2 cdJsTz baseAlt"]/li[4]')
        rtime.append(x.text)
    except NoSuchElementException:
        rtime.append('-')
        
    try:
        x = driver.find_element(By.XPATH, '//span[@class="sc-bde20123-1 cMEQkK"]')
        rating.append(x.text)
    except NoSuchElementException:
        rating.append('-')
        
    try:
        x = driver.find_element(By.XPATH, '//div[@class="sc-5f7fb5b4-2 gNFLrF"]')
        votes.append(x.text)
    except NoSuchElementException:
        votes.append('-')

In [210]:
df = pd.DataFrame({"Name":name,"Year of Release":year,"Genre":genre,"RunTime(per episode)":rtime,"Rating":rating,"Votes":votes})
df

,Name,Year of Release,Genre,RunTime(per episode),Rating,Votes
0,The Acolyte,2024‚Äì,Action,35m,4.0,42
1,Eric,2024,Crime,53m,7.0,1
2,Bridgerton,2020‚Äì,Drama,1h,7.4,2
3,Fallout,2024‚Äì,Action,1h,8.4,2
4,House of the Dragon,2022‚Äì,Action,50m,8.4,12
...,...,...,...,...,...,...
96,-,2024,Documentary,1h,6.1,136
97,Presumed Innocent,2024‚Äì,Crime,-,7.4,53
98,Reacher,2022‚Äì,Action,50m,8.1,4
99,Chicago Fire,2012‚Äì,Action,43m,8.0,16
100,-,-,-,-,-,-

Question 8

In [211]:
url = "https://archive.ics.uci.edu/"
driver = webdriver.Chrome()
driver.get(url)

In [212]:
nav = driver.find_element(By.XPATH, '//a[@class="btn-primary btn"]')
driver.get(nav.get_attribute('href'))

In [213]:
name = []
dtype = []
task = []
atype = []
inst = []
attr = []
year = []

In [214]:
urls = []
link = driver.find_elements(By.XPATH, '//a[@class="link-hover link text-xl font-semibold"]')
for i in link:
    urls.append(i.get_attribute('href'))

In [228]:
for url in urls:
    driver.get(url)
    time.sleep(2)
    
    try:
        x = driver.find_element(By.XPATH, '//h1[@class="text-3xl font-semibold text-primary-content"]')
        name.append(x.text)
    except NoSuchElementException:
        name.append('-')
    
    try:
        x = driver.find_element(By.XPATH, '//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div/p')
        dtype.append(x.text)
    except NoSuchElementException:
        dtype.append('-')
        
    try:
        x = driver.find_element(By.XPATH, '//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[3]/p')
        task.append(x.text)
    except NoSuchElementException:
        task.append('-')
        
    try:
        x = driver.find_element(By.XPATH, '//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[4]/p')
        atype.append(x.text)
    except NoSuchElementException:
        atype.append('-')
        
    try:
        x = driver.find_element(By.XPATH, '//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[5]/p')
        inst.append(x.text)
    except NoSuchElementException:
        inst.append('-')
        
    try:
        x = driver.find_element(By.XPATH, '//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[6]/p')
        attr.append(x.text)
    except NoSuchElementException:
        attr.append('-')
        
    try:
        x = driver.find_element(By.XPATH, '//h2[@class="text-sm text-primary-content"]')
        year.append(x.text)
    except NoSuchElementException:
        year.append('-')

In [231]:
df = pd.DataFrame({"Dataset Name":name,"Data Type":dtype,"Tasks":task,"Attribute Type":atype,"Instances":inst,"Features":attr,"Year":year})
df

,Dataset Name,Data Type,Tasks,Attribute Type,Instances,Features,Year
0,Iris,Tabular,Classification,Real,150,4,Donated on 6/30/1988
1,Iris,Tabular,Classification,Real,150,4,Donated on 6/30/1988
2,Dry Bean,Multivariate,Classification,"Integer, Real",13611,16,Donated on 9/13/2020
3,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,Donated on 6/30/1988
4,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,7,Donated on 10/5/2019
5,Raisin,Multivariate,Classification,"Real, Integer",900,7,Donated on 8/13/2023
6,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,Donated on 4/30/1996
7,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,Donated on 10/31/1995
8,Wine,Tabular,Classification,"Integer, Real",178,13,Donated on 6/30/1991
9,Wine Quality,Multivariate,"Classification, Regression",Real,4898,11,Donated on 10/6/2009
10,Bank Marketing,Multivariate,Classification,"Categorical, Integer",45211,16,Donated on 2/13/2012