In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import re
import time

Question 1

In [14]:
# Open the window with the website
url = "https://www.naukri.com/"
driver = webdriver.Chrome()
driver.get(url)

In [16]:
# Searching for specific elemenys in the page as asked in question
title = driver.find_element(By.CLASS_NAME,"suggestor-input ")
title.send_keys('Data Scientist')
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Delhi/NCR')
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [17]:
# Initializing empty list to capture elements
job_title = []
job_location = []
company_name = []
experience = []

In [18]:
# Scrapping data from the webdriver using relative Xpath and storing in List
for i in driver.find_elements(By.XPATH, '//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a'):
    job_title.append(i.text)
    
for i in driver.find_elements(By.XPATH, '//span[@class="locWdth"]'):
    job_location.append(i.text)
    
for i in driver.find_elements(By.XPATH, '//div[@class=" row2"]/span/a[1]'):
    company_name.append(i.text)
    
for i in driver.find_elements(By.XPATH, '//span[@class="expwdth"]'):
    experience.append(i.text)

In [22]:
# filtering elements as secified in question
for i in range(9,(len(job_title)-1)):
    job_title.pop(i)
    job_location.pop(i)
    company_name.pop(i)
    experience.pop(i)

In [23]:
# Forming the DataFrame from scrapped elements 
df = pd.DataFrame({"Title":job_title,"Location":job_location,"Company":company_name,"Experience":experience})
df

,Title,Location,Company,Experience
0,Data Scientist,"Gurugram, Bengaluru",Blackbuck,3-7 Yrs
1,"Data Scientist - NLP, Gen AI",Noida,R Systems International,5-8 Yrs
2,Associate Scientist - Data Sourcing & Solutions,Gurugram,Axa Technology Services,1-4 Yrs
3,Global GI Data Scientist,Faridabad,Hitachi Ltd.,3-5 Yrs
4,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Digital Glyde,3-7 Yrs
5,Python Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Wizaltia Hr Solutions,2-7 Yrs
6,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Kmart,3-5 Yrs
7,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",KAS Services,3-5 Yrs
8,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Scienaptic Systems,2-7 Yrs
9,Python and ML Trainer,"Hyderabad, New Delhi, Pune, Gurugram, Bengaluru",The Scholar,3-8 Yrs

Question 2

In [24]:
# Open the window with the website
url = "https://www.shine.com/"
driver = webdriver.Chrome()
driver.get(url)

In [26]:
# Searching for specific elemenys in the page as asked in question
title = driver.find_element(By.CLASS_NAME,"form-control  ")
title.send_keys('Data Analyst')
location = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')
search = driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [27]:
# Initializing empty list to capture elements
job_title = []
job_location = []
company_name = []
experience = []

In [28]:
# Scrapping data from the webdriver using relative Xpath and storing in List
for i in driver.find_elements(By.XPATH, '//strong[@class="jobCard_pReplaceH2__xWmHg"]/h2/a'):
    job_title.append(i.text)
    
for i in driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]'):
    x = re.sub('[\n+0-9]',"",i.text)
    job_location.append(x)
    
for i in driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]/span'):
    company_name.append(i.text)
    
for i in driver.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]'):
    experience.append(i.text)

In [31]:
# filtering elements as secified in question
for i in range(9,(len(job_location)-1)):
    job_title.pop(i)
    job_location.pop(i)
    company_name.pop(i)
    experience.pop(i)

In [32]:
# Forming the DataFrame from scrapped elements
df = pd.DataFrame({"Title":job_title,"Location":job_location,"Company":company_name,"Experience":experience})
df

,Title,Location,Company,Experience
0,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore,appsoft solutions,0 to 4 Yrs
1,Data Analyst,Bangalore,valenta bpo solutions pvt. ltd.,4 to 5 Yrs
2,"Data Analyst (Power BI, Python, SQL)- Internal...",Bangalore,talent leads hr solutions pvt ltd,3 to 8 Yrs
3,Clinical Data Analyst,Bangalore,techno endura,0 to 1 Yr
4,Data Analyst Fresher and Experience Vacancy,Bangalore,radhika enterprises,0 to 4 Yrs
5,Data Analyst Opening,Bangalore,radhika enterprises,0 to 4 Yrs
6,Data Analyst Recruitment,Bangalore,radhika enterprises,0 to 4 Yrs
7,Data Analyst Recruitment,Bangalore,radhika enterprises,0 to 4 Yrs
8,Business Analyst,Bangalore,mackenzie modern it solutions priva...,4 to 6 Yrs
9,Data Science- Manager,Bangalore,mackenzie modern it solutions priva...,6 to 11 Yrs

Question 3

In [33]:
# Open the window with the website
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART"
driver = webdriver.Chrome()
driver.get(url)

In [34]:
# Initializing empty list to capture elements
rating = []
review_summary = []
review_full = []

In [35]:
# Traversing through multiple pages and extract elements as needed
start = 0
end = 10
for i in range(start,end):
    for i in driver.find_elements(By.XPATH, '//div[@class="XQDdHH Ga3i8K"]'):
        rating.append(i.text) 
    for i in driver.find_elements(By.XPATH, '//p[@class="z9E0IG"]'):
        review_summary.append(i.text)
    for i in driver.find_elements(By.XPATH, '//div[@class="ZmyHeo"]/div/div'):
        review_full.append(i.text)
    button = driver.find_element(By.XPATH,'//a[@class="_9QVEpD"]')
    button.click()
    time.sleep(3)

In [36]:
# Forming the DataFrame from scrapped elements
df = pd.DataFrame({"Rating":rating,"Experience":review_summary,"Review":review_full})
df

,Rating,Experience,Review
0,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
1,5,Terrific,Very very good
2,5,Wonderful,This is amazing at all
3,5,Worth every penny,Feeling awesome after getting the delivery of ...
4,5,Best in the market!,Good Camera
...,...,...,...
95,5,Awesome,iPhone 11 is a good phone. Not a very big diff...
96,5,Super!,Good product üëåI love iPhone
97,5,Brilliant,Excellent Phone.
98,5,Must buy!,"Go for iPhone 11 , if confused between iPhone ..."
99,5,Best in the market!,Superbb performance n camera is awesome üòçüòç

Question 4

In [37]:
# Open the window with the website
url = "https://www.flipkart.com/"
driver = webdriver.Chrome()
driver.get(url)

In [38]:
# Searching for specific elemenys in the page as asked in question
title = driver.find_element(By.CLASS_NAME,"Pke_EE")
title.send_keys('sneakers')
search = driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [39]:
# Initializing empty list to capture elements
brand = []
descreption = []
price = []

In [40]:
# Traversing through multiple pages and extract elements as needed
start = 0
end = 3
for i in range(start,end):
    for i in driver.find_elements(By.XPATH, '//div[@class="syl9yP"]'):
        brand.append(i.text)
    for i in driver.find_elements(By.XPATH, '//div[@class="hCKiGj"]/a[1]'):
        descreption.append(i.text)
    for i in driver.find_elements(By.XPATH, '//div[@class="Nx9bqj"]'):
        price.append(i.text)
    button = driver.find_element(By.XPATH,'//a[@class="_9QVEpD"]')
    button.click()
    time.sleep(3)

In [44]:
# filtering elements as secified in question
for i in range(99,(len(brand)-1)):
    brand.pop(i)
    descreption.pop(i)
    price.pop(i)

In [45]:
# Forming the DataFrame from scrapped elements
df = pd.DataFrame({"Brand":brand,"Description":descreption,"Price":price})
df

           Brand                                        Description   Price
0         Kraasa  GROOVY Mid-Top Casual Chunky Streetwear Fashio...    ‚Çπ542
1       RapidBox                  Dynamite Lace-Up Sneakers For Men    ‚Çπ585
2       URBANBOX  Trending Stylish Casual Outdoor Shoes Sneakers...    ‚Çπ299
3       RED TAPE  Casual Sneaker Shoes for Men | Classic Rounded...  ‚Çπ1,649
4       RED TAPE  Casual Sneaker Shoes for Men | Classic Rounded...  ‚Çπ1,649
..           ...                                                ...     ...
95      Nobelite                                   Sneakers For Men    ‚Çπ465
96      JUMPLITE  Lightweight Comfort Summer Trendy Premium Styl...    ‚Çπ968
97  Jack Diamond                           sneaker Sneakers For Men    ‚Çπ749
98      URBANBOX  Stylish & Trending Outdoor Walking Comfortable...    ‚Çπ299
99       Rowlans  comfortable,durable,sport shoe,snerakers,walki...    ‚Çπ399

[100 rows x 3 columns]

Question 5

In [46]:
# Open the window with the website
url = "https://www.amazon.in/s?k=laptop&rh=n%3A976392031%2Cp_n_feature_thirteen_browse-bin%3A12598163031&dc&ds=v1%3AvCV9jP9l%2F%2BpVDKvXISp3qgrAWddXETebj%2BVhJ30IPVQ&crid=3QLM3XQTPKNC6&qid=1716030035&rnid=12598141031&sprefix=Lapt%2Caps%2C287&ref=sr_nr_p_n_feature_thirteen_browse-bin_12"
driver = webdriver.Chrome()
driver.get(url)

In [47]:
# Initializing empty list to capture elements
title = []
rating = []
price = []

In [48]:
# Scrapping data from the webdriver using relative Xpath and storing in List
for i in driver.find_elements(By.XPATH, '//span[@class="a-size-medium a-color-base a-text-normal"]'):
    title.append(i.text)
for i in driver.find_elements(By.XPATH, '//span[@class="a-size-base s-underline-text"]'):
    rating.append(i.text)
for i in driver.find_elements(By.XPATH, '//span[@class="a-price-whole"]'):
    price.append(i.text)

In [49]:
# filtering elements as secified in question
d = {"Title":[],"Ratings":[],"Price":[]}
for i in range(10):
    d["Title"].append(title[i])
    d["Ratings"].append(rating[i])
    d["Price"].append(price[i])

In [50]:
# Forming the DataFrame from scrapped elements
df = pd.DataFrame(d)
df

                                               Title Ratings   Price
0  Lenovo IdeaPad Slim 3 Intel Core i7 12th Gen 1...     493  62,990
1  Acer Aspire Lite 12th Gen Intel Core i7-1255U ...     393  54,990
2  Dell Inspiron 7420 2in1 Laptop, Intel Core i7-...      72  77,490
3  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...     109  54,990
4  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...      59  63,990
5  ASUS Vivobook 15, IntelCore i7-12650H 12th Gen...     244  57,990
6  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...     286  72,990
7  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...     696  77,700
8  Acer Travelmate Business Laptop Intel Core i7-...      34  47,990
9  Samsung Galaxy Book3 Core i7 13th Gen 1355U - ...     103  64,990

Question 6

In [51]:
# Open the window with the website
url = "https://www.azquotes.com/"
driver = webdriver.Chrome()
driver.get(url)

In [52]:
# Searching for specific elemenys in the page as asked in question
top = driver.find_element(By.XPATH,'//div[@class="mainmenu"]/ul/li[5]')
top.click()

In [53]:
# Initializing empty list to capture elements
quote = []
auth = []
qtype = []

In [54]:
# Traversing through multiple pages and extract elements as needed
start = 0
end = 9
for i in range(start,end):
    for i in driver.find_elements(By.XPATH, '//a[@class="title"]'):
        quote.append(i.text)
    for i in driver.find_elements(By.XPATH, '//div[@class="author"]'):
        auth.append(i.text)
    for i in driver.find_elements(By.XPATH, '//div[@class="tags"]'):
        qtype.append(i.text)
    button = driver.find_element(By.XPATH,'//li[@class="next"]')
    button.click()
    time.sleep(3)

In [55]:
# Final page dosen't have Next button hence we repeat the scrapping one more time
for i in driver.find_elements(By.XPATH, '//a[@class="title"]'):
    quote.append(i.text)
for i in driver.find_elements(By.XPATH, '//div[@class="author"]'):
    auth.append(i.text)
for i in driver.find_elements(By.XPATH, '//div[@class="tags"]'):
    qtype.append(i.text)

In [56]:
# Forming the DataFrame from scrapped elements
df = pd.DataFrame({"Quote":quote,"Author":auth,"Quote Type":qtype})
df

,Quote,Author,Quote Type
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

In [ ]:
Question 7

In [57]:
# Open the window with the website
url = "https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1"
driver = webdriver.Chrome()
driver.get(url)

In [58]:
# Initializing empty list to capture elements
name = []
dob = []
term = []
remark = []

In [ ]:
for i in driver.find_elements(By.XPATH, '//div[@class="TableData"]/table/tbody/tr/td[2]'):
    name.append(i.text)
    
### Unable To Extract Elements from the tabe. The Kernal stops responding the moment the script is run

In [ ]:
Question 8

In [60]:
# Open the window with the website
url = "https://www.motor1.com/features/308149/most-expensive-new-cars-ever/"
driver = webdriver.Chrome()
driver.get(url)

In [61]:
# Initializing empty list to capture elements
cars = []
name = []
price = []

In [62]:
for i in driver.find_elements(By.XPATH, '//div[@class="postBody description e-content"]/ul/li'):
    cars.append(i.text)

In [67]:
###Unable to clean the data as it has some values seperated by "-" & some by ":"